@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap');

:root{
--color-negro: #363636;
--color-verde: #3ce2ad;
--color-verde-precios: #d4fdfe;
--color-gris: #f4f4f4;
--color-fondo-footer: #1c1c1c;
--color-letra-footer: #bbb;	
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--color-general);
}


.titulo{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;	
	padding-top: 20%;
	font-weight: 600;
}



#hero{
	background-image: url("../img/bg-hero.jpg");
	background-size: cover;
	height: 100%vh;
	color: var(--color-negro);
	padding-bottom: 15%;
	padding-left: 8%;
	
}

#hero p{
	
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 5%;
}

#hero .btn-round{
	
	border-radius: 100%;
	background-color: var(--color-verde);
	border: 0;
	width: 40px;
	height: 40px;
}

#hero i{
	color:white;
	font-size: 15px;
}




#services{
	
	/** overflow: hidden; **/
	
}

#services .caja{
	background-color: var(--color-verde-precios);
	padding: 15% 20%;
	border-radius: 15%;
	
}

.caja:hover{
	box-shadow: 0 0 30px 0 #eee;
	transform: translateY(-10px);
	transition: all 0.3s ease;
	color: navy;
}

#services h4{
	color: navy;
	padding-top: 5%;
	padding-bottom: 5%;
}

#services i{
	color:navy;
	font-size: 40px;
	padding-top: 10%;
	padding-bottom: 10%;
}

#services h3{
	text-transform: uppercase;
	font-size: 16px;
	color: black;
	padding-top: 5%;
	padding-bottom: 5%;
	font-weight: 600;
}

#services p{
	color: black;
	font-size: 10px;
	padding-top: 5%;
	padding-bottom: 10%;
	
}

#services p .horas{
	padding-bottom: 20%;
}
.btn-primary{
	background-color: white;
	font-size: 10px;
	color: black;
	font-weight: 500;
	border: 0;
	
}

#about h3{
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 7%;
	color: navy;
	
}

#about p{	
	font-size: 13px;
}

#about .tab-p{
	padding: 5%;
}

#about .nav-tabs a.active{
	background-color: var(--color-verde);
	color: white;	
	border: 0;
	border-radius: 0;
}

#about .nav-tabs a{
	color: black;
	border: 0;
	border-radius: 0;
}

#help{
	background-image: url("../img/bg-rectangle.jpg");
	padding-bottom: 5%;
}

#help .help-caja{
	background-color: white;
	padding: 6% 8%;
	border-radius: 5%;
	
}

#help h3{
	font-size: 22px;
	font-weight: 600;
	padding: 3%;
}

#help .help{
	margin: 10%;
}


#help .titulo{
	
	font-size: 3em;	
	padding-top: 10%;
	font-weight: 600;
}

#jenna h3{
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 7%;
	color: navy;
}

#jenna .normal{
	padding-bottom: 10%;
}

#jenna .bold{
	font-weight: 700;
}


#jenna .btn{
	background-color: var(--color-verde);
	font-size: 10px;
	color: white;
	font-weight: 700;
	border: 0;
	border-radius: 25%;
	padding: 2% 5%;

	
}

#offers{
	background-image: url("../img/bg-offers.jpg");
	background-size: cover;
	height: 100%vh;
	text-align: center;
	padding-bottom: 4%;
}

#offers .caja{
	background-color: var(--color-verde-precios);
	border-radius: 5%;
	padding-bottom: 5%;
}

#offers p{
	padding: 4% 0%;
}

#offers h4{
	font-size: 14px;
}

#offers .caja:hover{
	box-shadow: 0 0 10px 0 #000;

	transition: all 0.3s ease;
	background-color: white!important;

}

#offers .titulo{
	padding-bottom: 4%;
	padding-top: 5%;
}


#faq{
	padding: 10% 0 10%;
}

#faq .btn{
	background-color: var(--color-verde);
	font-size: 13px;
	color: white;
	font-weight: 700;
	border: 0;
	border-radius: 25%;
	padding: 2% 5%;
}

#faq .titulo{
	padding-top: 0%;
	padding-bottom: 8%;
}

#contact{
	background-color: var(--color-gris);
	padding-top: 4%;
	padding-bottom: 4%;
}

#contact i{
	color: var(--color-verde);
	font-size: 35px;
}

#contact h3{
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding: 2% 0 2% 0;
}

footer{
	background-color: var(--color-fondo-footer);
	padding-top: 3%;
	padding-bottom: 5%;
}

footer h2{
	color:white;
	font-size: 17px;
	font-weight: 700;
	padding-top: 5%;
}

footer h3{
	
	color: var(--color-letra-footer);
	font-size: 13px;
	padding-top: 2%;
}


footer h4{
	color: var(--color-letra-footer);
	font-size: 13px;
}

 h4 .top{
	padding-top: 12%;
}

footer .espacio{
	
	padding: 0 3% 0 13%;
}